volumes/node-red/flows.json
[
    {
        "id": "94b0e6bba5036640",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e279abe215552d7",
        "type": "tab",
        "label": "Tutorial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7ccb52abbceb853",
        "type": "websocket-listener",
        "path": "/siurb/websockets",
        "wholemsg": "false"
    },
    {
        "id": "1fe0aad8f59279e6",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "node.js code",
        "currentLine": {
            "row": 0,
            "column": 24
        },
        "command": "node $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "template": "console.log('Hello World')",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "067388d0f5f0bc63"
            ]
        ]
    },
    {
        "id": "c4bbe370378bc234",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 100,
        "wires": [
            [
                "1fe0aad8f59279e6"
            ]
        ],
        "l": false
    },
    {
        "id": "067388d0f5f0bc63",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "6d5e78de3114b886",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "bash code",
        "currentLine": {
            "row": 0,
            "column": 18
        },
        "command": "bash $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "sh",
        "template": "echo \"Hello World\"\n",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "49702ca370d9f756"
            ]
        ]
    },
    {
        "id": "4ebf5b2aa93f2b67",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 300,
        "wires": [
            [
                "6d5e78de3114b886"
            ]
        ],
        "l": false
    },
    {
        "id": "49702ca370d9f756",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 300,
        "wires": [],
        "l": false
    },
    {
        "id": "37a8a116aae3dce3",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "python code (template parameters)",
        "currentLine": {
            "row": 0,
            "column": 22
        },
        "command": "python3 $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "template": "print('{{{payload}}}')",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "b35308b00d181b45"
            ]
        ]
    },
    {
        "id": "9c2c5923aff087f1",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 400,
        "wires": [
            [
                "37a8a116aae3dce3"
            ]
        ],
        "l": false
    },
    {
        "id": "b35308b00d181b45",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 400,
        "wires": [],
        "l": false
    },
    {
        "id": "038111031078bda8",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "python code (parsed json output)",
        "currentLine": {
            "row": 0,
            "column": 1
        },
        "command": "python3 $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "template": "print('''\n{\n   \"value\": \"Hello World\" \n}\n\n''')",
        "output": "parsedJSON",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "6bf711436e4c78b2"
            ]
        ]
    },
    {
        "id": "e61f3df446be8e0e",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 800,
        "wires": [
            [
                "038111031078bda8"
            ]
        ],
        "l": false
    },
    {
        "id": "6bf711436e4c78b2",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 800,
        "wires": [],
        "l": false
    },
    {
        "id": "a9e08253657428c1",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "python code (exec sleep 3)",
        "currentLine": {
            "row": 6,
            "column": 2
        },
        "command": "python3 $file ",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "template": "import time\n\ntime.sleep(3)\nprint(\"Hello World\")\ntime.sleep(3)\nprint(\"Hello World\")\ntime.sleep(3)\nprint(\"Hello World\")",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "6c5a597dd98e3c69"
            ]
        ]
    },
    {
        "id": "71ed70de01f00df6",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 600,
        "wires": [
            [
                "a9e08253657428c1"
            ]
        ],
        "l": false
    },
    {
        "id": "6c5a597dd98e3c69",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "3c40817b162d1ba9",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "python code (spawn sleep 3)",
        "currentLine": {
            "row": 8,
            "column": 0
        },
        "command": "python3 -u $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "true",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "template": "import time\n\ntime.sleep(3)\nprint(\"Hello World\")\ntime.sleep(3)\nprint(\"Hello World\")\ntime.sleep(3)\nprint(\"Hello World\")\n",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 320,
        "y": 700,
        "wires": [
            [
                "15f2032281da3432"
            ]
        ]
    },
    {
        "id": "3316a7a3cc4bbdb6",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 700,
        "wires": [
            [
                "3c40817b162d1ba9"
            ]
        ],
        "l": false
    },
    {
        "id": "15f2032281da3432",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 700,
        "wires": [],
        "l": false
    },
    {
        "id": "34e8cb4e37f2d8a9",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "python code (queue)",
        "currentLine": {
            "row": 3,
            "column": 2
        },
        "command": "python3 $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "template": "import time\n\ntime.sleep(3)\nprint(\"Hello World\")",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "3",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "558c5a8f111dbef9"
            ]
        ]
    },
    {
        "id": "376c02853cd956fb",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 500,
        "wires": [
            [
                "34e8cb4e37f2d8a9"
            ]
        ],
        "l": false
    },
    {
        "id": "558c5a8f111dbef9",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 535,
        "y": 500,
        "wires": [],
        "l": false
    },
    {
        "id": "623a2f138efe29ed",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "using node.js synchronous code without interfering with the flow",
        "currentLine": {
            "row": 0,
            "column": 0
        },
        "command": "node $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "template": "sleepSync(5000)\nconsole.log('Sync Node.js Hello World')\n\n// function\nfunction sleepSync(ms) {\n  var start = new Date().getTime(), expire = start + ms;\n  while (new Date().getTime() < expire) { }\n  return;\n}",
        "output": "str",
        "outputEmpty": false,
        "vimMode": true,
        "queue": "1",
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "17e18b61b0e44bea"
            ]
        ]
    },
    {
        "id": "4de7adfb59574592",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 200,
        "wires": [
            [
                "623a2f138efe29ed"
            ]
        ],
        "l": false
    },
    {
        "id": "17e18b61b0e44bea",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 705,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "d9f0145631e0c10c",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 825,
        "y": 200,
        "wires": [
            [
                "7571802f132d43f8"
            ]
        ],
        "l": false
    },
    {
        "id": "7571802f132d43f8",
        "type": "function",
        "z": "1e279abe215552d7",
        "name": "using synchronous code interfering with the flow",
        "func": "sleepSync(5000)\nmsg.payload = 'Sync Node.js Hello World'\nreturn msg\n\n// function\nfunction sleepSync(ms) {\n  var start = new Date().getTime(), expire = start + ms;\n  while (new Date().getTime() < expire) { }\n  return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "2325d1e2296efe00"
            ]
        ]
    },
    {
        "id": "2325d1e2296efe00",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1295,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "afa31ed79a2035dd",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa código em node.js",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "6253d53806fc1898",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa código em node.js síncrono sem interferir no fluxo",
        "info": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "6169695ccb372391",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa código em node.js síncrono travando o fluxo",
        "info": "",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "90d9b37bfda3fb83",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa código em bash",
        "info": "",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "3d488795681b2e71",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa código em python recebendo parâmetro do fluxo",
        "info": "",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "0d7e62bff784ceb4",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa python com fila de 3",
        "info": "",
        "x": 220,
        "y": 460,
        "wires": []
    },
    {
        "id": "0032ed5054e90a4e",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa python (exec mode- imprime após o nodo é executado)",
        "info": "",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "51ba9bb37b3f59f6",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa python (spawn mode- imprime conforme nodo é executado)",
        "info": "",
        "x": 340,
        "y": 660,
        "wires": []
    },
    {
        "id": "2fac0acf172aa25c",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa python (imprime saída no fluxo como um Objeto Javascript)",
        "info": "",
        "x": 340,
        "y": 760,
        "wires": []
    },
    {
        "id": "4f1cdd60cb865ebf",
        "type": "inject",
        "z": "1e279abe215552d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 900,
        "wires": [
            [
                "030c25a84d2972ba"
            ]
        ],
        "l": false
    },
    {
        "id": "030c25a84d2972ba",
        "type": "exec queue",
        "z": "1e279abe215552d7",
        "name": "R",
        "currentLine": {
            "row": 0,
            "column": 19
        },
        "command": "Rscript $file",
        "debugMode": false,
        "outputs": 1,
        "useSpawn": "false",
        "field": "payload",
        "fieldType": "msg",
        "format": "javascript",
        "template": "cat(\"Hello World!\")",
        "output": "str",
        "outputEmpty": false,
        "vimMode": false,
        "queue": 1,
        "addpayCB": false,
        "splitLine": false,
        "cleanQueue": true,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "4c1aa53892450cf2"
            ]
        ]
    },
    {
        "id": "4c1aa53892450cf2",
        "type": "debug",
        "z": "1e279abe215552d7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 355,
        "y": 900,
        "wires": [],
        "l": false
    },
    {
        "id": "0ee36e90ea5af89d",
        "type": "comment",
        "z": "1e279abe215552d7",
        "name": "Executa \"Hello World\" em R",
        "info": "",
        "x": 210,
        "y": 860,
        "wires": []
    }
]